[submodule "bundle/rails"]
	path = bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
